.breadcrumb {
  padding: 20px 8%;
  font-size: 15px;
  color: #555;
}

.breadcrumb a {
  color: #078d35;
  text-decoration: none;
  font-weight: 600;
}

.breadcrumb span {
  color: #444;
}

.news-detail-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 124px;
  padding-right: 124px;
}

/*SIDEBAR*/
.news-sidebar {
  width: 100%;
  border-left: 3px solid #e5e5e5;
  padding-left: 8px;
  margin-bottom: 20px;
}

.news-sidebar h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #046200;
}

.featured-meta {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: rgb(29, 41, 57);
}

.featured-btn {
  flex-grow: 1;
  align-content: flex-end;
}

.event-icon {
  color: #046200;
}

/*KONTEN UTAMA*/
.news-detail {
  width: 100%;
}

.news-detail-img {
  width: 100%;
  height: 380px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 20px;
}

.news-detail-title {
  font-size: 34px;
  color: rgb(29, 41, 57);
  line-height: 1.3;
  margin-bottom: 15px;
}
.news-description {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: rgb(29, 41, 57);
  white-space: pre-line;
}

/* ==== ANIMASI FADE IN ==== */
.fade-in {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* responsive */
@media (max-width: 992px) {
  .news-detail-container {
    flex-direction: column;
  }

  .news-detail {
    width: 100%;
  }

  .news-sidebar {
    width: 100%;
    border-left: none;
    border-top: 3px solid #e5e5e5;
    padding-left: 0;
    padding-top: 20px;
  }

  .related-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-detail-title {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .breadcrumb {
    padding: 15px 5%;
    font-size: 14px;
  }

  .news-detail-container {
    padding: 20px 5%;
  }

  .news-detail-img {
    height: 220px;
  }

  .news-detail-title {
    font-size: 24px;
  }

  .related-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .news-sidebar h3 {
    font-size: 18px;
  }
}
