body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}



.berita-section {
    padding: 150px 125px;
    width: 90%;
    /* max-width: 1100px; */
    margin: 50px auto;
}

.judul-utama {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #0a6900; /* hijau tema */
}

.sub-judul-berita {
    text-align: center;
    color: #444;
    margin-bottom: 35px;
}

.filter-berita {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 35px;
}

.filter-btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background: #d9d9d9;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.filter-btn:hover {
    background: #cfcfcf;
    transform: translateY(-3px);
}

.filter-btn.aktif {
    background: #0d7a00;
    color: #fff;
}


.berita-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.berita-card {
    background: #ffffff;
    display: flex;
    gap: 25px;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
    transition: 0.25s ease;
}

.berita-card:hover {
    transform: translateY(-4px);
}


.berita-gambar img {
    width: 240px;
    height: 160px;
    border-radius: 18px;
    object-fit: cover;
}


.berita-teks {
    flex: 1;
}

.berita-judul a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #0d7a00;
}

.berita-judul a:hover {
    text-decoration: underline;
}

.berita-deskripsi {
    margin-top: 8px;
    font-size: 15px;
    line-height: 1.5rem;
    color: #444;
}

.berita-tanggal {
    margin-top: 10px;
    color: #777;
    font-size: 14px;
}


.btn-baca {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 18px;
    background: #0d7a00;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s ease;
}

.btn-baca:hover {
    transform: translateX(6px);
    background: #095900;
}


@media (max-width: 768px) {

    .berita-card {
        flex-direction: column;
    }

    .berita-gambar img {
        width: 100%;
        height: 220px;
    }

    .berita-judul a {
        font-size: 22px;
    }
}
