@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');


body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: rgba(234, 234, 234, 1);
}

header {
  background-image: url("assets/gambar-sekolah1.png");
  background-size: 1440px 897px;
  background-position: center;
  color: white;
  position: relative;
  min-height: 400px;
}

h5{
    width: 900px;
}

.judul-hero{
    width: 900px;
}

.head{
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 100px;
    color: #1a1a1a;
}

.data-galeri-con {
    /* display: flex;
    justify-content: space-between; */
    /* height: 200vh; */
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.card{
    display: flex;
    align-content: flex-start;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 1100px;
    padding: 30px 50px;
    text-align: center;
}

.img-galeri{
    width: 300px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px
}

.judul{
    display: flex;
    text-align: left;
    font-family: "Signika Negative", sans-serif;
    font-size: 18px;
}

.desk{
    display: flex;
    text-align: left;
    font-family: "Signika Negative", sans-serif;
    font-size: 14px;
}

