/* styles.css */

/* Reset margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  /* padding: 20px; */
  color: #000;
  overflow-x: hidden;
}

/* Header */
.header {
  background-color: rgba(199, 255, 183, 1); 
  border-radius: 15px;
  padding: 20px;
  margin: 50px;
  height: 200px;
  box-shadow: rgba(0,0,0,0.1) 7px 7px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.header-text p {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  max-width: 500px;
}

.header-illustration img {
  height: 200px;
  width: auto;
  border-radius: 0 15px 15px 0;
}

/* Section Manajemen */
.manajemen-section {
  margin-top: 35px;
}

.center-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 25px;
}

/* Menu Manajemen */
.manajemen {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.item {
  background-color: rgba(199, 255, 183, 1);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 6px;
  user-select: none;
  transition: transform 0.5s ease;
}

.item:hover{
  transform: scale(1.03);
  box-shadow: 5px 3px 10px rgb(0, 0, 0, 0.2);
}

.item img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.item span {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: black;
}

/* Bagian Aktifitas dan Statistik */
.aktfitas-statistik {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 0 10px;
}

.section-column {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 260px;
}

.section-header {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 15px;
  user-select: none;
}

.box {
  background-color: rgba(199, 255, 183, 1);
  border-radius: 15px;
  height: 250px;
  box-shadow: rgba(0,0,0,0.05) 5px 5px 7px;
}

.hr-atas{
    background-color: black;
    height: 5px;
    margin-bottom: 50px;
    width: 100vw;
}
.hr-bawah{
    background-color: rgb(0, 0, 0);
    height: 5px;
    margin-top: 50px;
    width: 100vw;
    
}

/* Responsive untuk layar kecil */
@media (max-width: 768px) {
  .aktfitas-statistik {
    flex-direction: column;
    gap: 25px;
  }
  .section-column {
    width: 100%;
  }
  .manajemen {
    justify-content: center;
  }
}
