.menu-title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: rgb(29, 41, 57);
}

/*              MAIN CONTENT                */
.main-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

/*             MAIN CONTENT ROW 1            */
.row1 {
  display: flex;
  gap: 20px;
  width: 100%;
}

.card-row1 {
  flex: 0.25;
  min-height: 100px;
  background-color: white;
  box-shadow: 0 0 0 0.9px #dde1e5;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-detail-row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.card-logo-row1 {
  background-color: #f1f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card-logo-row1 img {
  width: 32px;
}

.card-info-row1 {
  flex: 0.6;
  /* background-color: aqua; */
  display: flex;
  gap: 12px;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.vertical-divider {
  height: 90%;
  width: 1px;
  background-color: rgb(102, 112, 133);
  margin: 0 8px;
}

.card-info-row1-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-title-row1 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 112, 133);
}

.card-amount-row1 {
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.btn-container-row1 {
  flex: 0.4;
  /* background-color: yellow; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-end;
}

/* CSS */
.button-card-row1 {
  margin-top: -1px;
  width: 80px;
  height: 30px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 8px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-card-row1:hover {
  background-color: #f1f3f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-card-row1:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-card-row1:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-card-row1:focus {
  outline: 1px transparent;
}

.button-card-row1:before {
  display: none;
}

.button-card-row1:-webkit-details-marker {
  display: none;
}

/*                MAIN CONTENT ROW 2           */
.container-row2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 0.9px #dde1e5;
  border-radius: 16px;
  padding: 0px 20px;
}

.row2 {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  gap: 20px;
  /* box-shadow: 0 0 0 0.9px #dde1e5; */
  flex-wrap: wrap;
}

.card-row2 {
  flex: 0.5;
  min-height: 100px;
  background-color: white;
  border-radius: 16px;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-detail-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.card-logo-row2 {
  background-color: #f1f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card-logo-row2 img {
  width: 40px;
}

.card-info-row2 {
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  gap: 12px;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.vertical-divider-row2 {
  height: 60%;
  width: 1px;
  background-color: rgb(102, 112, 133);
  margin: 0 8px;
}

.card-info-row2-detail {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
}

.card-title-row2 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 112, 133);
}

#instagram, #facebook, #youtube, #email, #maps, #location {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  min-height: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.2s ease;
}

input#instagram:focus, input#facebook:focus, input#youtube:focus, input#email:focus, textarea#maps:focus, input#location:focus  {
  border: 1px solid rgba(4, 134, 0, 1);
  box-shadow: 0 0 0 1px rgba(4, 134, 0, 1);
  outline: none;
}

/* OVERRIDE WIDTH DAN FLEX */

.card23 {
  flex: 1;
}

.card24 {
  flex: 1;
}

/* BUTTON ROW2 */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-row2 {
  width: 100px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-row2:hover {
  background-color: #fafbfc;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-row2:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-row2:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-row2:focus {
  outline: 1px transparent;
}

.button-row2:before {
  display: none;
}

.button-row2:-webkit-details-marker {
  display: none;
}

