body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(234, 234, 234, 1);
}

header {
  background-image: url("assets/gambar-sekolah1.png");
  background-size: 1440px 897px;
  background-position: center;
  color: white;
  position: relative;
  min-height: 400px;
}

h5{
    width: 900px;
}

.fasilitas {
    background-color: #eaeaea;
    padding: 100px 0;
    text-align: center;
}

.head {
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 80px;
    color: #1a1a1a;
}

.fasilitas-con {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.fasilitas-card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 330px;
    text-align: left;
}

.nama-fasilitas {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 12px 20px 3px 20px;
}

.deskripsi-fasilitas {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #555;
    margin: 0 20px 10px 20px;
}

.img-fasilitas {
    width: 100%;
    height: 200px;
    display: block;
}
