/* footer */
.footer {
  padding: 80px 125px 40px 125px;
  background: #064d1a;
  color: #e6ffe6;
  margin-top: 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px; /* seragam */
  color: white;
}

/*BRAND: LOGO KIRI, TEKS KANAN*/
.footer-brand-full {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.brand-left img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 16px;
}

/*TEKS BRAND*/
.brand-right h2,
.brand-right p,
.footer-kemenag,
.footer-social {
  margin-bottom: 15px;
}

.footer-title {
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.footer-desc {
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 380px;
  margin: 0;
  color: white;
}

.footer-desc a {
  color: #ffffff;
  /* text-decoration: none; */
}

/* ==========================
   BADGE KEMENAG
========================== */
.footer-kemenag {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.07);
  padding: 10px 14px;
  border-radius: 12px;
  border-left: 4px solid #1fae51;
  margin: 0;
}

.footer-kemenag img {
  width: 45px;
}

/*SOSIAL MEDIA*/
.footer-social a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.08);
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.footer-social a:hover {
  background: #18a300;
  transform: translateY(-4px);
}

/* kontak */

.footer-column h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: white;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 8px 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #18a300;
  padding-left: 5px;
}

/* Kontak */
.footer-column p {
  margin: 23px 0;
}

.footer-column p i {
  color: #ddd;
  margin-right: 8px;
}

.footer-ornament {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    #1fae51,
    #ffffff,
    #1fae51,
    transparent
  );
  margin: 40px 0;
  opacity: 0.5;
}

/* ==========================
   FOOTER BOTTOM
========================== */
.footer-bottom {
  color: white;
  text-align: center;
  padding-top: 10px;
}

/* ==========================
   RESPONSIVE
========================== */
@media (max-width: 900px) {
  .footer {
    padding: 50px 30px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 35px;
    text-align: center;
  }

  .footer-brand-full {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .brand-right {
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }
}