body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}



.staf-section {
    padding: 50px 100px;
    width: 100%;
    /* max-width: 1100px; */
    margin: 50px auto;
}

.judul-utama {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: #0b5e00;
    font-family: 'Inter', sans-serif;
}

.judul-utama::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: linear-gradient(90deg, #0b5e00, #18a300);
    margin: 12px auto 0;
    border-radius: 2px;
}

.sub-judul-staf {
    text-align: center;
    color: #555;
    margin: 0 auto 50px;
    font-size: 1.15rem;
    /* max-width: 650px; */
}

.filter-staf {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 35px;
}

.filter-btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background: #d9d9d9;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.filter-btn:hover {
    background: #cfcfcf;
    transform: translateY(-3px);
}

.filter-btn.aktif {
    background: #0d7a00;
    color: #fff;
}


.staf-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.staf-wrapp {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}


.staf-card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 380px;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
    transition: 0.25s ease;
}

.staf-card:hover {
      transform: translateY(-8px);
  box-shadow: 0 14px 36px rgba(4, 134, 0, 0.12);
  border-color: rgba(13, 122, 0, 0.15);
}


.staf-gambar img {
    width: 240px;
    height: 160px;
    border-radius: 18px;
    object-fit: cover;
    display: flex;
    margin: auto;
}


.staf-teks {
    flex: 1;
}

.staf-judul a {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #0d7a00;
}

.staf-judul a:hover {
    text-decoration: underline;
}

.staf-deskripsi {
    display: flex;
    text-align: start;
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5rem;
    color: #444;
}

.staf-deskripsi i{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    margin-right: 8px;

}

@media (max-width: 768px) {

    .staf-card {
        flex-direction: column;
    }

    .staf-gambar img {
        width: 100%;
        height: 220px;
    }

    .staf-judul a {
        font-size: 22px;
    }
}
