body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(234, 234, 234, 1);
}

header {
  background-image: url("assets/gambar-sekolah1.png");
  background-size: 1440px 897px;
  background-position: center;
  color: white;
  position: relative;
  min-height: 400px;
}

h5{
    width: 900px;
}

.head{
    text-align: center;
    font-family: "poppins", sans-serif;
    margin-bottom: 100px;
    font-size: 48px;
}

.data-guru-con {
    display: flex;
    justify-content: space-between;
    /* height: 200vh; */
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 380px;
    padding: 30px 50px;
    text-align: center;
}

.img-guru{
    width: 240px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px
}

.nama{
    font-family: "poppins", sans-serif;
    font-size: 18px;
}

.mapel{
    font-family: "poppins", sans-serif;
    font-size: 12px;
}

.gelar{
    font-family: "poppins", sans-serif;
    font-size: 12px;
}

