/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 124px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand-logo {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo img {
  width: 100%;
  height: 100%;
}

.brand-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.brand-info h1 {
  color: rgb(29, 41, 57);
  font-size: 22px;
  font-weight: 700;
}

.brand-info p {
  font-size: 14px;
  color: rgb(102, 112, 133);
  font-weight: 500;
}

.nav-menu {
  display: flex;
  gap: 20px;
  background: white;
  padding: 8px 0px;
}

.nav-menu a {
  color: rgb(29, 41, 57);
  text-decoration: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(4, 134, 0);
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease, transform 0.4s ease-in-out;
}

.nav-menu a:hover {
  color: white;
  box-shadow: 0 4px 6px rgb(4, 134, 0);
}

.nav-menu a:hover::before {
  opacity: 1;
  background: rgb(4, 134, 0);
}

.nav-menu a.active {
  color: white;
  background-color: rgb(4, 134, 0);
  font-weight: bold;
  border-bottom: 2px solid rgb(4, 134, 0);
}

.hamburger {
  width: 28px;
  height: 22px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: #0b5e00;
  border-radius: 4px;
  transition: 0.3s;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  display: none;
  flex-direction: column;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.1);
  z-index: 10;
}

.dropdown-menu a {
  padding: 10px 18px;
  color: #333;
  display: block;
}

.dropdown-menu a:hover {
  background: #f1f1f1;
}
/* navbar stop */
/* 1200px — Laptop kecil */
@media (max-width: 1200px) {
  .navbar {
    padding: 20px 60px;
  }

  #hero {
    padding: 60px 60px;
  }
  .hero-content h1 {
    font-size: 42px;
  }
  .hero-subtitle {
    font-size: 17px;
  }
}

/* 992px — Tablet landscape */
@media (max-width: 992px) {
    .navbar {
    padding: 18px 50px;
  }

  /* Munculkan hamburger */
  .hamburger {
    display: flex;
  }

  .dropdown:hover .dropdown-menu {
    display: flex;
  }
  

  /* Sembunyikan menu default */
  .nav-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 260px;
    background: white;
    flex-direction: column;
    padding: 18px 0;
    gap: 18px;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);

    /* hidden default */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);
    transition: 0.3s ease;
  }

  /* Saat active */
  .nav-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-menu a {
    padding: 10px 24px;
    display: block;
  }

  #hero {
    padding: 50px 60px;
  }
  .hero-content h1 {
    font-size: 38px;
    line-height: 1.3;
  }
  .hero-subtitle {
    font-size: 16px;
  }
  .btn-primary {
    padding: 10px 24px;
    font-size: 15px;
  }
}

/* 768px — Tablet portrait / HP besar */
@media (max-width: 768px) {
  .navbar {
    padding: 18px 40px;
  }

  .nav-menu {
    width: 100%;
    right: 0;
    border-radius: 0 0 14px 14px;
  }

  .nav-menu a {
    font-size: 16px;
    padding: 12px 28px;
  }
  #hero {
    height: auto;
    padding: 100px 40px 80px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .hero-content {
    max-width: 500px;
    margin: 0 auto;
  }

  .hero-content h1 {
    font-size: 32px;
    justify-content: center;
    text-align: center;
  }

  .hero-subtitle {
    font-size: 15px;
    margin-bottom: 28px;
    text-align: center;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 18px;
  }

  .hero-overlay {
    height: 70%;
  }
}

/* 480px — HP kecil */
@media (max-width: 480px) {
  .navbar {
    padding: 16px 24px;
  }

  .nav-logo {
    font-size: 20px;
  }

  .nav-menu a {
    font-size: 15px;
    padding: 12px 20px;
  }

  .hamburger {
    width: 26px;
    height: 20px;
  }
  #hero {
    padding: 100px 24px 70px 24px;
  }
  .hero-content h1 {
    font-size: 28px;
    line-height: 1.3;
  }
  .hero-subtitle {
    font-size: 14px;
  }
  .btn-primary {
    padding: 9px 20px;
    font-size: 14px;
  }
}


