@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(242, 242, 242);
}

/* hero section start */
#hero {
  position: relative;
  height: 60vh;
  padding: 80px 124px 0 124px;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  pointer-events: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
  margin-top: 60px;
}

@media (max-width: 768px) {
    .hero-content {
    margin-top: 50px;
  }  
}

/* .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.hero-content h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 52px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 20px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
} */

/* hero section stop */


