body{
    margin: 0; 
    font-family: sans-serif; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.login-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.img{
    height: 350px;
    width: 500px;
    display: flex;
    justify-items: left;
}

.container{
    background: rgba(255, 255, 255, 0.5); 
    width: 300px;
    height: 400px; 
    padding: 40px; 
    border-radius: 20px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

h2{
    font-size: 35px; 
    font-weight: bold; 
    margin-bottom: 30px;
}

.input{
    text-align: left; 
    margin-bottom: 30px;
}

.isi{
    background: transparent;
    border: none;
    width: 100%;
    padding: 8px;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 16px;
    margin-bottom: 16px;
}

label{
    font-size: 14px;
}

button{
    padding: 10px; 
    border: none; 
    border-radius: 10px; 
    background-color: rgba(199, 255, 183, 1); 
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    width: 100%; 
    color: black;
    transition:  0.3s;
}

button:hover{
    background-color: rgba(4, 134, 0, 1);
    color: #ffffff;
}






