.back{
    width: 150px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}
.add{
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}

.data-guru-con {
    display: flex;
    justify-content: space-between;
    /* height: 200vh; */
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 381x;
    padding: 30px 50px;
    text-align: center;
}

.img-guru{
    width: 240px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px
}

.nama{
    font-family: "poppins", sans-serif;
    font-size: 18px;
}

.mapel{
    font-family: "poppins", sans-serif;
    font-size: 12px;
}

.gelar{
    font-family: "poppins", sans-serif;
    font-size: 12px;
}
