.btn{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}



.back{
    background-color: aqua;
}
.add{
    background-color: rgb(255, 255, 255);
    color: black;

}

.data-guru-con {
    display: flex;
    justify-content: space-between;
    /* height: 200vh; */
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 381x;
    padding: 30px 50px;
    text-align: center;
}

.img-guru{
    width: 240px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px
}

.nama{
    font-family: "poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.mapel{
    font-family: "poppins", sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
}

.gelar{
    font-family: "poppins", sans-serif;
    font-size: 12px;
}

.edit-hapus{
    margin: 20px;
    display: flex;
    justify-content: right;
    gap: 15px;
}

.edit{
    color: blue;
    text-decoration: none;
}

.hapus{
    color: rgb(255, 0, 0);
    text-decoration: none;
}