.btn{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: right;
    margin-right: 50px;
    
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    gap: 5px;
}


.back{
    background-color: rgb(255, 0, 0);
}

.back a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.add{
    background-color: rgba(199, 255, 183, 1);
    color: black;    
}

.add a{
    color: black;
    text-decoration: none;   
}

.galeri-con {
    display: flex;
    justify-content: space-between;
    /* height: 200vh; */
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 381x;
    padding: 30px 50px;
    text-align: center;
}

.img-galeri{
    width: 240px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px
}

.judul{
    display: flex;
    align-items: end;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.desk{
    display: flex;
    /* align-items: end;
    justify-items: flex-start; */
    text-align: left;
    font-family: "poppins", sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    max-width: 250px;
}


.edit-hapus{
    margin: 20px;
    display: flex;
    justify-content: right;
    gap: 15px;
}

.edit{
    color: blue;
    text-decoration: none;
}

.hapus{
    color: rgb(255, 0, 0);
    text-decoration: none;
}