body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(234, 234, 234, 1);
}

header {
  background-image: url("assets/gambar-sekolah1.png");
  background-size: 1440px 897px;
  background-position: center;
  color: white;
  position: relative;
  min-height: 400px;
}

.sejarah-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200vh; */
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

.sejarah-container h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
}

.sejarah-container p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: justify;
}  

br{
   margin-bottom: 20px;
}