.sejarah-section {
    padding: 50px 100px;
    width: 90%;
    margin: 50px auto;
}

.judul-utama {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: #0b5e00;
    font-family: 'Inter', sans-serif;
}

.judul-utama::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: linear-gradient(90deg, #0b5e00, #18a300);
    margin: 12px auto 0;
    border-radius: 2px;
}

.sub-judul-struktur {
    text-align: center;
    color: #555;
    margin: 0 auto 50px;
    font-size: 1.15rem;
    /* max-width: 650px; */
}

.struktur-list {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.struktur-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.struktur-card:hover {
      transform: translateY(-8px);
  box-shadow: 0 14px 36px rgba(4, 134, 0, 0.12);
  border-color: rgba(13, 122, 0, 0.15);
}

.img-organisasi {
    width: 100%;
    max-width: 750px;  
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    object-fit: contain; 
}

@media (max-width: 768px) {
    .sejarah-section {
        padding: 30px 20px;
        margin: 30px auto;
    }

    .judul-utama {
        font-size: 32px;
    }

    .struktur-card {
        padding: 20px;
    }
}
