@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');


body {
  margin: 0;
  font-family: "Signika Negative", sans-serif;
  background-color: rgba(234, 234, 234, 1);
}

header {
  background-image: url("assets/gambar-sekolah1.png");
  background-size: 1440px 897px;
  background-position: center;
  color: white;
  position: relative;
  min-height: 400px;
}

h5{
    width: 900px;
}

.judul-hero{
    width: 900px;
}

.visi-misi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200vh; */
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

.visi-misi-container h1 {
    font-family: "Signika Negative", sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
}

.visi{
    font-family: "Signika Negative", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}  
hr{
    background-color: black;
    height: 5px;
    margin-bottom: 50px;
}

.misi{
    font-family: "Signika Negative", sans-serif;
    font-size: 18px;
    text-align: justify;
}

br{
   margin-bottom: 50px;
}
