/*              MAIN CONTENT                */

/*             MAIN CONTENT ROW 1            */
.stats-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.stat-card {
  flex: 0.25;
  min-height: 100px;
  background-color: white;
  box-shadow: 0 0 0 0.9px #dde1e5;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.stat-icon {
  background-color: #f1f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.stat-icon img {
  width: 32px;
}

.stat-info {
  flex: 0.6;
  /* background-color: aqua; */
  display: flex;
  gap: 12px;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.divider-vertical {
  height: 90%;
  width: 1px;
  background-color: rgb(29, 41, 57);
  margin: 0 8px;
}

.stat-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stat-title {
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 112, 133);
}

.stat-value {
  font-size: 28px;
  font-weight: 700;
  color: rgb(29, 41, 57);
}

.stat-actions {
  flex: 0.4;
  /* background-color: yellow; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-end;
}

/* CSS */
.btn-edit {
  margin-top: -1px;
  width: 80px;
  height: 30px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 8px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: rgb(29, 41, 57);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn-edit:hover {
  background-color: #F2F4F7;
  color: rgb(29, 41, 57);
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-edit:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.btn-edit:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn-edit:focus {
  outline: 1px transparent;
}

.btn-edit:before {
  display: none;
}

.btn-edit:-webkit-details-marker {
  display: none;
}

/*                MAIN CONTENT ROW 2           */
.social-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 0.9px #dde1e5;
  border-radius: 16px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.social-row {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  /* gap: 28px; */
  /* box-shadow: 0 0 0 0.9px #dde1e5; */
  flex-wrap: wrap;
  box-sizing: border-box;
}

.social-card {
  flex: 0.5;
  min-height: 100px;
  background-color: white;
  border-radius: 16px;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.social-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.social-form-left {
  padding-right: 20px;
}

.social-icon {
  background-color: #f1f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.social-icon img {
  width: 40px;
}

.social-info {
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  gap: 12px;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.vertical-divider-row2 {
  height: 60%;
  width: 1px;
  background-color: rgb(102, 112, 133);
  margin: 0 8px;
}

.social-details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
}

.social-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 112, 133);
}

#instagram, #facebook, #youtube, #email, #maps, #location {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  min-height: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.2s ease;
}

input#instagram:focus, input#facebook:focus, input#youtube:focus, input#email:focus, textarea#maps:focus, input#location:focus  {
  border: 1px solid rgba(4, 134, 0, 1);
  box-shadow: 0 0 0 1px rgba(4, 134, 0, 1);
  outline: none;
}

/* OVERRIDE WIDTH DAN FLEX */

.social-card-full {
  flex: 1;
}

/* BUTTON ROW2 */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-save {
  width: 100px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: rgb(29, 41, 57);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn-save:hover {
  background-color: #F2F4F7;
  color: rgb(29, 41, 57);
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-save:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn-save:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn-save:focus {
  outline: 1px transparent;
}

.btn-save:before {
  display: none;
}

.btn-save:-webkit-details-marker {
  display: none;
}