/*              MAIN CONTENT                */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 0.9px #dde1e5;
  border-radius: 16px;
  padding: 20px;
}

.vision-form {
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 16px;
  /* box-shadow: 0 0 0 0.9px #dde1e5; */
  flex-direction: column;
  gap: 20px;
}

.vision-mision-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-card {
  flex: 1;
  background-color: white;
  border-radius: 16px;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 8px;
}

.form-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-icon {
  background-color: #f1f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form-icon img {
  width: 32px;
}

.form-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 112, 133);
}

.form-input-container {
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  gap: 12px;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.form-input-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
}

.form-textarea {
  padding: 8px 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  min-height: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.2s ease;
  height: 112px;
  line-height: 1.5;
}

#tujuan {
  height: 132px;
}

textarea.form-textarea:focus {
  border: 1px solid rgba(4, 134, 0, 1);
  box-shadow: 0 0 0 1px rgba(4, 134, 0, 1);
  outline: none;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.btn-save {
  width: 100px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: rgb(29, 41, 57);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn-save:hover {
  background-color: #f2f4f7;
  color: rgb(29, 41, 57);
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-save:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.btn-save:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn-save:focus {
  outline: 1px transparent;
}

.btn-save:before {
  display: none;
}

.btn-save:-webkit-details-marker {
  display: none;
}
