/*                MAIN CONTENT              */
.main-content-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 8px 12px;
  flex: 1;
  box-shadow: 0 0 0 0.9px #dde1e5;
  gap: 8px;
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: rgb(102, 112, 133);
}

.button-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 122px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: rgb(29, 41, 57);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button.add {
  width: 160px;
}

.button:hover {
  background-color: #f2f4f7;
  color: rgb(29, 41, 57);
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

.main-content-data {
  width: 100%;
  min-height: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f8fafc;
}

.empty-data {
  box-shadow: 0 0 0 0.9px #dde1e5;
  background-color: white;
  border-radius: 16px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 520px;
}

.empty-data-placeholder {
  text-align: center;
  padding: 20px;
}

.empty-data-placeholder img {
  width: 80px;
}

.empty-data-placeholder p {
  color: rgb(29, 41, 57);
  font-weight: 400px;
  margin-top: 8px;
}