/*              MAIN CONTENT                */

/*                FILE INPUT                   */

/*                MAIN CONTENT ROW            */
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 0.9px #dde1e5;
  border-radius: 16px;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
}
.upload-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

/*           UPLOAD ICON       */
.card-input-icon-row {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  /* gap: 28px; */
  /* box-shadow: 0 0 0 0.9px #dde1e5; */
  flex-wrap: wrap;
  box-sizing: border-box;
}

.settings-card.input-icon-card {
  flex: 0.5;
}

.card {
  background: white;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

.card-header h4 {
  margin: 0 0 20px 0;
  color: rgb(29, 41, 57);
  font-size: 16px;
  font-weight: 500;
}

/* --- PREVIEW GAMBAR --- */
#previewContainer {
  margin-bottom: 15px;
  display: none;
  text-align: left;
}

#previewContainer img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  object-fit: contain;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: rgb(29, 41, 57);
  font-weight: 500;
  font-size: 16px;
}

/* --- INPUT FILE UTAMA --- */
.custom-file-control {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  transition: border-color 0.2s;
}

/* Area Tombol Kiri (Bisa jadi Choose atau Hapus) */
.action-btn {
  padding: 10px 16px;
  border-right: 1px solid #ced4da;
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;

  /* Style Default (Choose File) */
  background-color: #f1f3f6;
  color: rgb(29, 41, 57);
}

.action-btn:hover {
  background-color: #dde0e3;
}

/* Style Khusus Mode Hapus (Merah) */
.action-btn.delete-mode {
  background-color: #fee2e2; /* Background Merah Muda */
  color: #b91c1c; /* Teks Merah Tua */
  border-right-color: #fecaca;
}

.action-btn.delete-mode:hover {
  background-color: #fca5a5; /* Merah lebih gelap saat hover */
}

/* Area Nama File (Kanan) */
.file-name-display {
  padding: 10px 16px;
  color: rgb(102, 112, 133);
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  cursor: pointer; /* Bisa diklik juga untuk ganti file */
}

.file-name-display:hover {
  background-color: #f8f9fa;
}

/* Hide Input Asli */
#realFileInput {
  display: none;
}

/*           META ROW         */
.meta-row {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  gap: 20px;
  /* box-shadow: 0 0 0 0.9px #dde1e5; */
  flex-wrap: wrap;
  box-sizing: border-box;
}

.meta-card {
  flex: 0.25;
  min-height: 80px;
  background-color: white;
  border-radius: 16px;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.meta-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.meta-form-right {
  padding-right: 20px;
}

.meta-info {
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.meta-details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
}

.meta-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(29, 41, 57);
}

/*           SETTING ROW         */
.settings-row {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  /* gap: 28px; */
  /* box-shadow: 0 0 0 0.9px #dde1e5; */
  flex-wrap: wrap;
  box-sizing: border-box;
}

.settings-card {
  flex: 0.5;
  min-height: 80px;
  background-color: white;
  border-radius: 16px;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.settings-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.settings-form-left {
  padding-right: 20px;
}

.settings-info {
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.settings-details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
}

.settings-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(29, 41, 57);
}

.social-row {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  /* gap: 28px; */
  /* box-shadow: 0 0 0 0.9px #dde1e5; */
  flex-wrap: wrap;
  box-sizing: border-box;
}

.social-card {
  flex: 0.5;
  min-height: 100px;
  background-color: white;
  border-radius: 16px;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.social-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 4px;
}

.social-form-left {
  padding-right: 20px;
}

.social-icon {
  background-color: #f1f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.social-icon img {
  width: 40px;
}

.social-info {
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  gap: 12px;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 100%;
}

.vertical-divider-row2 {
  height: 60%;
  width: 1px;
  background-color: rgb(102, 112, 133);
  margin: 0 8px;
}

.social-details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  box-sizing: border-box;
}

.social-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(29, 41, 57);
}

.change-password-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.input-text {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  min-height: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.2s ease;
  color: rgb(29, 41, 57);
}

.input-text:focus {
  border: 1px solid rgba(4, 134, 0, 1);
  box-shadow: 0 0 0 1px rgba(4, 134, 0, 1);
  outline: none;
}

#instagram,
#facebook,
#youtube,
#email,
#maps,
#location,
#phone {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  min-height: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.2s ease;
  color: rgb(29, 41, 57);
}

input#instagram:focus,
input#facebook:focus,
input#youtube:focus,
input#email:focus,
textarea#maps:focus,
input#location:focus,
#phone:focus {
  border: 1px solid rgba(4, 134, 0, 1);
  box-shadow: 0 0 0 1px rgba(4, 134, 0, 1);
  outline: none;
}

/* OVERRIDE WIDTH DAN FLEX */

.social-card-full {
  flex: 1;
}

/* BUTTON ROW2 */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 8px;
}

.social-media-actions {
  margin-top: none;
}

.btn-save {
  width: 100px;
  appearance: none;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: rgb(29, 41, 57);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn-save:hover {
  background-color: #f2f4f7;
  color: rgb(29, 41, 57);
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-save:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.btn-save:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn-save:focus {
  outline: 1px transparent;
}

.btn-save:before {
  display: none;
}

.btn-save:-webkit-details-marker {
  display: none;
}

/* .location-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 0.9px #dde1e5;
  border-radius: 24px;
  padding: 0px 20px;
  box-sizing: border-box;
} */
